In [1]:
import requests
import pandas as pd

# Base URL for the Exoplanet Archive
url = "https://exoplanetarchive.ipac.caltech.edu/TAP/sync"

# SQL-style query to get a good chunk of useful info
query = """
SELECT pl_name, hostname, discoverymethod, disc_year, pl_orbper, pl_rade, pl_bmasse, pl_eqt, pl_insol, pl_orbsmax, pl_dens, st_teff, st_rad, st_mass, sy_dist, sy_pnum, sy_snum
FROM pscomppars
WHERE disc_year >= 2015
"""

params = {
    "query": query,
    "format": "json"
}

# Make the request
response = requests.get(url, params=params)
data = response.json()

# Convert to DataFrame
df = pd.DataFrame(data)

# Quick preview
df.head()

,pl_name,hostname,discoverymethod,disc_year,pl_orbper,pl_rade,pl_bmasse,pl_eqt,pl_insol,pl_orbsmax,pl_dens,st_teff,st_rad,st_mass,sy_dist,sy_pnum,sy_snum
0,Kepler-729 b,Kepler-729,Transit,2016,3.166354,3.58,12.50,1273.0,1089.549,0.0432,1.50,5633.0,0.91,0.94,1921.150,1,1
1,Kepler-687 b,Kepler-687,Transit,2016,20.505870,3.52,12.20,518.0,15.648,0.1326,1.54,4841.0,0.73,0.77,633.660,1,1
2,Kepler-1115 b,Kepler-1115,Transit,2016,23.554073,1.70,3.53,1381.0,516.101,0.2134,3.95,8480.0,1.73,1.60,983.245,1,1
3,Kepler-1073 b,Kepler-1073,Transit,2016,8.678886,2.30,5.90,905.0,128.550,0.0805,2.66,5792.0,1.00,1.00,809.897,3,1
4,Kepler-899 b,Kepler-899,Transit,2016,19.178913,2.68,7.65,640.0,62.198,0.1392,2.18,5595.0,0.91,0.93,1246.430,1,1

In [ ]:
# Drop if critical columns are NaN
df_clean = df.dropna(subset=["pl_rade", "pl_eqt", "pl_insol"]).copy()

# Optional: fill remaining NaNs with placeholder or median
df_clean.fillna(value={"pl_bmasse": -1, "pl_dens": "-1"}, inplace=True)

df_clean.to_csv("output/exoplanets.csv", index=False)